<% if(locals.success && locals.success.length) { %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <%= success %>
</div>
<% } %> <% if(locals.error && locals.error.length) { %>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <%= error %>
</div>
<% } %>
