<% layout('layouts/boilerplate') %>
<div class="row">
  <div class="col-6 offset-3">
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading mb-3"><%= err.message %>!</h4>
      <p>Please refresh the page or try again later!</p>
      <hr />
      <% if (process.env.NODE_ENV !== "production") {%>
      <p class="mb-0"><%= err.status %></p>
      <% } %>
    </div>
  </div>
</div>
